body, h1, h2, h3, ul,p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif ;
    background-color: #F7F1ED;
}

html {
    font-size: 16px;
}


header {
display: felx;
flex-direction: column;
align-items: center;
text-align: center;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    justify-content: space-between;
}

nav img {
    max-width: 50%;
    margin-bottom: 40px;
}

nav ul{
list-style: none;
margin-top: 10px;
margin-bottom: 40px;
/* justify-content: space-between; */
}

/* nav ul li {
    margin-right: 20px;
} */


main {
    padding: 1rem;
    background-color:  #f5f5f5 ;
}

.article {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.article img {
    max-width: 100%;
    height: auto;
}

.button {
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    padding: 0.5rem 1rem;
    background-color: #98002E;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    /* margin-top: 1.5remp; */
    font-size: 14px;
    width: 100%;
    text-align: center;
    margin: auto;
    

}

.buttton:hover {
    background-color: #91918f ;
}

/* Links Styles */
nav a {
    color: #413939;
    text-decoration: none;
    border: 1px solid #413939;
    padding: 5px 8px;
    border-radius: 25%;
}

a:hover {   
  background-color: #98002E;  
color: #fff;
border-radius: 25%;
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #F4E2D6 ;
    color: #413939;
    padding: 2rem;
    text-align: center;
    padding-left: 20px;
}



.footer-description {
    margin-bottom: 1rem ;
}

h3 {
    font-size: 1.5rem ;
    margin-top: 1rem;
}

.footer-image {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    /* width: 100%; */
}

.footer-logo {
    max-width: 50%;
    margin: 1rem auto;
}

.footer-bottom {
    margin-top: 1rem;
    background-color: #919191;
    padding: 1rem;
    color: #fff;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.footer section{
padding: 1rem;
margin-bottom: 1.5rem
}


/* Media query for tablet */
@media (min-width: 768px) {
    nav img {
        max-width: 80%;
    }
    nav ul {
        flex-direction: row;
        justify-content: center;
    }
    .article img {
        max-width: 100%;
    }

    .article {
        padding: 1rem;
    }

    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    body {
        font-size: 16px;
    }
.footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    align-items: center;
            }   
    .button {
        display: flex;
        justify-content: center;
        margin: auto;
       width: 50%;
    }
}
  

/* Media query for desktop */
@media (min-width: 1024px) {
    nav img {
        max-width: 100%;
    }
    nav ul {
        flex-direction: row;
        justify-content: space-around;
    }
    .article img {
        max-width: 100%;
    }
    .article {
        padding: 2rem;
    }

    main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    body {
        font-size: 18px;
    }
    .footer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        align-items: center;
        
    }
    .button {
        display: flex;
        justify-content: center;
        margin: auto;
       width: 50%;
    }
}