body, h1, h2, h3, ul,p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif ;
    /* background-color: #ba5c1c; */
    width: 100%;
    height: 100vh;
}

html {
    font-size: 16px;
}


header {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
justify-content: space-between;
padding: 10px;
}

 .latest-news {
    padding-bottom: 1rem;
    font-weight: 100;
 }

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

nav img {
    max-width: 50%;
    margin-bottom: 40px;
}

nav ul {
list-style: none;
margin-top: 10px;
margin-bottom: 40px;
justify-content: space-between;
}

.computer-icon {
    display: none;
   
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
 
}

.article {
    /* display: grid;
    grid-template-columns: 1fr; */
    gap: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
}


.article img {
    width: 100%;
    max-width: 100%;
    height: auto;
    padding-bottom: 2rem;
}
.article-bottom {
    /* background-color: #F4E2D6 ; */
    padding: 1rem;
}
.article-bottom h3 {
    padding-bottom: 2rem;
    padding-top: 2rem;
}
.article-2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    background-color: #F4E2D6 ;
}
.article-2 img {
    max-width: 100%;
    height: auto;
}

.line {
    /* display: inline-block; */
    position: relative;
    max-width: 100%;
    text-align: center;
    align-items: center;
  }
  
  .line:after {
    position: absolute;
    bottom: -270px;
    width: 100%;
    height: 3px;
    background: #98002E;
    content: "";
    display: block;
    left: 50%;
    transform: translatex(-50%);
  }

.button {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.round-button {
    padding: 10px 20px;
    background-color: #98002E; 
    color: #FFFFFF; 
    border-radius: 25px; 
    text-decoration: none; 
    font-size: 16px;
    transition: background-color 0.3s;
    align-self: stretch;
    text-align: center;
}
.round-button:hover {
    background-color: #D90000; /* Darker red when hovered */
}
/* Links Styles */
nav a {
    color: #413939;
    text-decoration: none;
    border: 1px solid #413939;
    padding: 5px 8px;
    border-radius: 25px;
}

.tech a {
    background-color: #98002E;
    color: white;
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #ab4f4f ;
    color: #ffffff;
    padding: 2rem;
    text-align: center;
    padding-left: 20px;
}

h3 {
    font-size: 1.5rem ;
    margin-top: 1rem;
}

.footer img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    /* width: 100%; */
}

.footer-logo {
    max-width: 50%;
    margin: 1rem auto;
}



/* Media query for tablet */
@media (min-width: 768px) {
   
header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    
}
 nav {
    order: 1;
  
}
.computer-icon {
    display: inline;
    order: 2;
    max-height: 600px;
    align-self: center;
}

.computer-icon img {
  max-width: 50%;
  height: auto;
}
  
    nav img {
        max-height: 50px;
    }
    nav ul {
      text-align: left;
    }
    
 

    .article-2 {
    grid-column: 1 / span 3;
    grid-row: auto;
    width: 100%;
    }
    
    main {
    display: grid;
    /* grid-template-columns: repeate(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap:1rem; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    }

.article {
    width: 100%;
}
 .item-1 {
    grid-column: 1;
    grid-row: 1;
 }  
 .item-2 {
    grid-column:2/ span 3;
    grid-row: 1;
 }
 .item-3 {
    grid-column: 1;
    grid-row: 2;
 }
 .item-4 {
    grid-column: 2;
    grid-row: 2;
}
.item-5 {
    grid-column: 3; 
    grid-row: 2;
}

}
  

/* Media query for desktop */
@media (min-width: 1024px) {

    body {
        font-size: 18px;
    }
    .footer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        align-items: center;
        
    }

   
    header {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
    }

    nav {
        order: 1;
    }

    .computer-icon {
        display: inline;
        order: 2;
        max-height: 600px;
        align-self: center;
    }

    .computer-icon img {
        max-width: 50%;
        height: auto;
    }

    nav img {
        max-height: 50px;
    }

    nav ul {
        text-align: left;
    }


    .main {
        grid-template-columns: repeat(3, 1fr); /* Three equal columns */
        grid-template-rows: auto auto; /* Three rows with auto height */
    }

    .item-1 {
        grid-column: 1;
        grid-row: 1;
    }

    .item-2 {
        grid-column: 2 ; /* Span columns 2 and 3 */
        grid-row: 1;
    }

    .item-3 {
        grid-column: 3;
        grid-row: 1 ;
        margin-left: 5rem;
    }

    .item-4 {
        grid-column: 2 /span 3; 
        grid-row: 2;  
        display: grid; 
        background-color: #98002E;
        /* grid-template-columns: repeat(2, 1fr);  */
        /* grid-template-rows: auto;   */
        margin: auto;
        color: #ffffff;
        padding: 1rem;
    }


    .item-4 img {
        max-width: 100%;
        grid-column: 2;
        grid-row: 2; 
    }
    .item-4 h2  {
        grid-column: 3;
        grid-row: 2; 
        margin-top: 6rem;
    }
    
    .item-4 p {
        grid-column: 3; 
        grid-row: 2; 
        margin-top: 13rem;
        background-color: ;
    }




    .item-5 {
        grid-column: 1;
        grid-row: 2;
    }

    .article-2 {
        grid-column: 2;
        grid-row: 3;
    }

    .button {
        display: flex;
        justify-content: center;
        margin: auto;
        width: 50%;
        padding: 10px 20px;
        background-color: #98002E;
        color: #FFFFFF;
        border-radius: 25px;
        text-decoration: none;
        font-size: 16px;
        transition: background-color 0.3s;
        align-self: center;
        text-align: center;
    }
    .article-2 p {
        margin-bottom: 20px; /* You can adjust the value to control the space */
    }

 }

 

   
    
