* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif ;
    /* background-color: #ba5c1c; */
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #F7F1ED ;
}



header {
display: flex;
/* flex-direction: column; */
align-items: center;
text-align: center;
justify-content: space-between;
padding: 10px;
}

 .latest-news {
    padding-bottom: 1rem;
    font-weight: 100;
    padding: 1rem 0;
    font-size: 32px;
 }

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

nav img {
    max-width: 50%;
    margin-bottom: 20px;
}


.menu {
list-style: none;
display: flex;
margin-top: 10px;
margin-bottom: 40px;
justify-content: space-between;
}
.menu-item {
    margin: 0 8px;
    font-size: 14px;
    
}

.computer-icon {
    display: none;
   
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
 
}

.article {
    gap: 1rem;
    margin-bottom: 1rem;
}


.article img {
    min-width: 100%;
    /* max-width: 100%; */
    height: auto;
    padding-bottom: 2rem;
}

/* .article-bottom {
    padding: 1rem;
}
.article-bottom h3 {
    padding-bottom: 2rem;
    padding-top: 2rem;
}
.article-2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    background-color: #F4E2D6 ;
}
.article-2 img {
    max-width: 100%;
    height: auto;
} */

.container {
  padding: 20px;
}

.article-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-bottom {
  text-align: left;
}


.article-bottom h3 {
font-size: 24px;
margin-top: 2rem;
margin-bottom: 2rem;
}

.article-bottom p {
  font-size: 16px;
  }

  .article-bottom img {
   max-width: 100%;
   height: auto;
    }

.line {
    /* display: inline-block; */
    position: relative;
    max-width: 100%;
    text-align: center;
    /* align-items: center; */
  }
  
  .line:after {
    /* position: absolute;
    bottom: -270px;
    width: 100%;
    height: 3px;
    background: #98002E;
    content: "";
    display: block;
    left: 50%;
    transform: translatex(-50%); */

    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transition: translateX(-50%);
    -ms-text-kashida-space: 100%;
    height: 3px;
    background: #98002E;

  }

.button {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* justify-content: center; */
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.round-button {
    padding: 10px 20px;
    background-color: #98002E; 
    color: #FFFFFF; 
    border-radius: 25px; 
    text-decoration: none; 
    font-size: 16px;
    transition: background-color 0.3s;
    align-self: stretch;
    text-align: center;
}
.round-button:hover {
    background-color: #D90000; /* Darker red when hovered */
}
/* Links Styles */
nav a {
    color: #413939;
    text-decoration: none;
    border: 1px solid #413939;
    padding: 5px 8px;
    border-radius: 25px;
}

.tech a {
    background-color: #98002E;
    color: white;
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #98002E ;
    color: #ffffff;
    padding: 2rem;
    text-align: center;
    padding-left: 20px;
}

h3 {
    font-size: 1.5rem ;
    margin-top: 1rem;
}

.footer img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    /* width: 100%; */
}

.footer-logo {
    max-width: 50%;
    margin: 1rem auto;
}

/* ************************************************** */
/* ************************************************** */
/* ************************************************** */
/* Media query for TABLET */

/* Media query for TABLET */
@media (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .latest-news {
    font-weight: 100;
    padding: 1rem 0;
  }

  .menu-item {
    margin: 0 10px;
    font-size: 14px;
  }

  nav {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    padding-left: 20px;
  }

  .computer-icon {
    display: flex;
    justify-content: flex-end;
  }

  .computer-icon img {
    max-width: 50%;
    height: auto;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal columns */
    /* grid-template-rows: auto auto; */
    grid-gap: 1rem;
  }

  .item-1 {
    grid-column: 1;
    grid-row: 1;
  }

  .item-2 {
    grid-column: 2 / span 3;
    grid-row: 1;
  }

  .item-3 {
    grid-column: 1;
    grid-row: 2;
  }

  .item-4 {
    grid-column: 2;
    grid-row: 2;
  }

  .item-5 {
    grid-column: 3;
    grid-row: 2;
  }

   img {
    max-width: 100%;
    height: auto; 
    object-fit: cover;
  }

  .button {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 50%;
    padding: 10px 20px;
    /* background-color: #98002E; */
    color: #FFFFFF;
    border-radius: 25px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s;
    align-self: center;
    text-align: center;
}

.article-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  max-width: 768px; /* Adjust the maximum width as needed */
  padding: 20px;
  text-align: center; /* Center the content horizontally */
}
}

/* ********************************************************* */
/* Media query for desktop */
@media (min-width: 1024px) {
  
    .button {
        display: flex;
        justify-content: center;
        margin: auto;
        width: 50%;
        padding: 10px 20px;
        /* background-color: #98002E; */
        color: #FFFFFF;
        border-radius: 25px;
        text-decoration: none;
        font-size: 16px;
        transition: background-color 0.3s;
        align-self: center;
        text-align: center;
    }
    .article-2 p {
        margin-bottom: 20px; 
        text-align: center;/
    }
    .article-2 h3 {
      text-align: center;/
  }
    .article-2 {
      display: flex;
      flex-direction: column;
      align-items: center;
    
    }
    
    .container {
      max-width: 768px; /* Adjust the maximum width as needed */
      padding: 20px;
      text-align: center; /* Center the content horizontally */
    }

    .grid-container {
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: auto auto;
    align-items: stretch;
  }
    
    
    .item-1 {
      grid-column: 1;
      grid-row: 1;
    }
    .item-2 {
      grid-column: 2;
      grid-row: 1;
    }

    .item-2 img {
      
    }
    .item-3 {
      grid-column: 3;
      grid-row: 1;
    }
    .item-3 img {
      
    }
    .item-5 {
      grid-column: 1;
      grid-row: 2;
    }

    .item-4 {
      grid-column: 2 /span 3;
      grid-row: 2; 
      display: flex;
      align-items: center; 
      background-color: #98002E;
      max-width: 100%;
      height: auto;
    }
    .item-4 .item-4-img {
    flex: 0 0 25%; 
    /* flex: 1; */
    }

    .item-4-img {
      flex: 1;
      object-fit: cover;
    }
  
   .item-4-content {
    color: #ffffff;
   }

  
 }


 